/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap'); */

@font-face {
    font-family: 'chombu';
    src: url('./Fonts/static/PlaywriteCU-Regular.ttf');
}

div{
    font-size: 75px;
    font-weight:bold;
    font-style: oblique 25deg;
    font-family: 'chombu';
}