*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.parent{
    width: 1200px;
    height: 600px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
.child{
    width: 200px;
    height: 200px;
}
.child-1{
background-color: mediumblue;
}
.child-2{
    background-color: tomato;
}
